@import "./abstracts/constant";
@import "./abstracts/mixins";
@import "./abstracts/variable";

@import "./base/typography";
@import "./components/modal";

.clickMe {
  @include center;
  margin: 10px;
}

.bottom-line {
  border-bottom: 1px solid $bottomline-color;
  height: 1px;
  margin: 20px 30px 15px 25px;
}
.cart-column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-row {
  align-items: center;
  display: flex;
  margin-top: 5px;
  @include mp;
  .cart-item {
    @include mp;
    @media only screen and (max-width: 480px) {
      @include mediaQueryCartRow;
    }
    @media only screen and (max-width: 768px) {
      @include mediaQueryCartRow;
    }
    @media only screen and (min-width: 769px) and (max-width: 1000px) {
      min-width: 460px;
    }
    &__image {
      width: 69px;
      height: 77px;
      @media screen and (max-width: 1024px) {
        width: 55px;
        height: 65px;
      }
    }
    &__title {
      color: $paintName;
      font-size: 16px;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 12px !important;
    margin: 0 !important;
  }
}

.js-products {
  display: contents;
}
.cart-colorSelector {
  @media only screen and (max-width: 480px) {
    @include mediaQueryCartColorSelector;
    margin-top: 12px !important;
  }
  @media only screen and (max-width: 768px) {
    @include mediaQueryCartColorSelector;
    margin-top: 1px !important;
  }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    @include mediaQueryCartColorSelector;
    margin-top: 10px !important;
  }
  @media screen and (max-width: 1024px) {
    @include mp;
    align-items: center !important;
  }
  @include mp;
  &__dropdown {
    @include mp;
    .btn-secondary {
      background-color: transparent !important;
      color: $add-color !important;
      border-color: transparent !important;
      @media screen and (max-width: 1024px) {
        @include mp;
        font-size: 15px;
      }
    }
  }
  &__addMorePaint {
    @include mp;
    .add {
      color: $add-color !important;
      cursor: pointer;
      width: 17px;
      height: 17px;
      @media screen and (max-width: 1024px) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.qty-container {
  @media only screen and (max-width: 480px) {
    @include mediaQueryQtyContainer;
    width: 300px !important;
    margin-left: 10px !important;
  }
  @media only screen and (max-width: 768px) {
    @include mediaQueryQtyContainer;
    width: 450px !important;
  }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    @include mediaQueryQtyContainer;
    width: 440px !important;
  }
  @media only screen and (max-width: 1024px) {
    @include mp;
  }
  &__qty {
    display: block;
    height: 39px;
    width: 85px;
    position: relative;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    @media only screen and (max-width: 480px) {
      margin-top: 12px;
      width: 85px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 12px;
      width: 110px;
    }
    @media only screen and (min-width: 769px) and (max-width: 1000px) {
      margin-top: 12px;
      width: 135px;
    }
    &__amount {
      position: absolute;
      top: -10px;
      left: 10px;
      width: 25px;
      font-size: 12px;
      font-weight: 500;
      margin: 0;
    }
    &__input {
      display: flex;
      text-align: center;
      border: none;
      margin: 0px;
      height: 37px;
      width: 45px;
      font-weight: 500;
    }
  }
}

.cart-qty-minus,
.cart-qty-plus {
  border: none;
  outline: none;
  background: none;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: 1024px) {
    @include mp;
    align-items: center;
  }
}

.qty-input {
  height: 38px;
  width: 45px;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}
input:focus {
  outline: none;
}

.bgColor {
  &--green {
    border: solid 1px $quantity-box-color1;
    color: $quantity-box-color1;
    background-color: $quantity-box-bg-color1;
  }
  &--red {
    border: solid 1px $quantity-box-color2;
    color: $quantity-box-color2;
    background-color: $quantity-box-bg-color2;
  }
  &--orange {
    border: solid 1px $quantity-box-color3;
    color: $quantity-box-color3;
    background-color: $quantity-box-bg-color3;
  }
  &--blue {
    border: solid 1px $quantity-box-color4;
    color: $quantity-box-color4;
    background-color: $quantity-box-bg-color4;
  }
  &--black {
    border: solid 1px $quantity-box-color5;
    color: $quantity-box-color5;
    background-color: $quantity-box-bg-color4;
  }
}
.colorInput {
  &--green {
    background-color: $quantity-box-bg-color1;
    color: $quantity-box-color1;
  }
  &--red {
    background-color: $quantity-box-bg-color2;
    color: $quantity-box-color2;
  }
  &--orange {
    background-color: $quantity-box-bg-color3;
    color: $quantity-box-color3;
  }
  &--blue {
    background-color: $quantity-box-bg-color4;
    color: $quantity-box-color4;
  }
  &--black {
    background-color: white;
  }
}
.qtyMultiplier {
  &--green {
    color: $quantity-box-color1;
    background-color: white;
  }
  &--red {
    color: $quantity-box-color2;
    background-color: white;
  }
  &--orange {
    color: $quantity-box-color3;
    background-color: white;
  }
  &--blue {
    color: $quantity-box-color4;
    background-color: white;
  }
  &--black {
    background-color: white;
  }
}

.cart-total {
  margin-left: 80%;
  @media only screen and (max-width: 480px) {
    margin-left: 70%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  @media only screen and (max-width: 768px) {
    margin-left: 45%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 65%;
  }
  &__title,
  &__price {
    color: $quantity-box-color5;
    font-size: 20px;
    letter-spacing: 2px;
    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 15px;
    }
  }
  &__price {
    margin-left: 5px;
  }
}

.spaceTabs {
  margin-left: 418px;
  @media only screen and (max-width: 480px) {
    margin-left: 0px !important;
  }
  @media only screen and (max-width: 768px) {
    margin-left: 0px !important;
  }
  @media screen and (max-width: 1024px) {
    // margin-left: 295px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .product-removal {
    .remove-product {
      margin-right: 230px !important;
      margin-top: 15px;
    }
  }
  .bottom-line {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .product-removal {
    .remove-product {
      margin-right: 0px !important;
    }
  }
}

