$header-background-color:#784cb6;
$alert-success:#33be6e;
$alert-success-background: rgba(130, 255, 185, 0.31);
$addtocart-button:#502c83;
$paintName:#3f3e41;
$add-color:#784cb6;
$bottomline-color:#e9e8ef;

$quantity-box-color1:#4acf4d;
$quantity-box-color2:#f24a3c;
$quantity-box-color3:#e1982d;
$quantity-box-color4:#c4a7ee;
$quantity-box-color5:#787979;

$quantity-box-bg-color1:#ebfeeb;
$quantity-box-bg-color2:#ffe4e4;
$quantity-box-bg-color3:#ffedd2;
$quantity-box-bg-color4:#ffffff;

